In [68]:
import numpy as np
import pandas as pd

In [69]:
df=pd.read_csv('data.csv')
df.head(20)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,09/12/2023 10:08 AM,09/12/2023 01:53 PM,3:45,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,09/12/2023 02:23 PM,09/12/2023 07:02 PM,4:39,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
5,WFS000065,Active,09/14/2023 10:09 AM,09/14/2023 02:30 PM,4:21,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
6,WFS000065,Active,09/14/2023 03:00 PM,09/14/2023 07:14 PM,4:14,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
7,WFS000065,Active,09/15/2023 10:11 AM,09/15/2023 02:41 PM,4:30,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
8,WFS000065,Active,09/15/2023 03:11 PM,09/15/2023 07:05 PM,3:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
9,WFS000065,Active,09/16/2023 09:51 AM,09/16/2023 02:50 PM,4:59,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
10,WFS000065,Active,09/16/2023 03:20 PM,09/16/2023 08:19 PM,4:59,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
11,WFS000065,Active,09/19/2023 09:55 AM,09/19/2023 01:56 PM,4:01,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
12,WFS000065,Active,09/19/2023 02:26 PM,09/19/2023 06:29 PM,4:03,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
13,WFS000065,Active,09/20/2023 09:54 AM,09/20/2023 02:12 PM,4:18,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
14,WFS000065,Active,09/20/2023 02:42 PM,09/20/2023 06:46 PM,4:04,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
15,WFS000065,Active,09/21/2023 09:55 AM,09/21/2023 02:03 PM,4:08,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
16,WFS000065,Active,09/21/2023 02:33 PM,09/21/2023 06:47 PM,4:14,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
17,WFS000065,Active,09/22/2023 09:55 AM,09/22/2023 02:50 PM,4:55,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
18,WFS000065,Active,09/22/2023 03:20 PM,09/22/2023 08:26 PM,5:06,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
19,WFS000065,Active,09/23/2023 09:55 AM,09/23/2023 03:47 PM,6:52,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN

In [70]:
df.shape

(1484, 11)

In [71]:
df.isnull().sum()

Position ID                    0
Position Status                0
Time                          10
Time Out                      14
Timecard Hours (as Time)      10
Pay Cycle Start Date          10
Pay Cycle End Date            10
Employee Name                  0
File Number                    0
Unnamed: 9                  1484
Unnamed: 10                 1483
dtype: int64

In [72]:
df.drop(['Unnamed: 9', 'Unnamed: 10'], axis=1, inplace=True)

In [73]:
df.isnull().sum()

Position ID                  0
Position Status              0
Time                        10
Time Out                    14
Timecard Hours (as Time)    10
Pay Cycle Start Date        10
Pay Cycle End Date          10
Employee Name                0
File Number                  0
dtype: int64

In [74]:
df=df.dropna()

In [75]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
1,WFS000065,Active,09/12/2023 10:08 AM,09/12/2023 01:53 PM,3:45,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65
2,WFS000065,Active,09/12/2023 02:23 PM,09/12/2023 07:02 PM,4:39,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65
5,WFS000065,Active,09/14/2023 10:09 AM,09/14/2023 02:30 PM,4:21,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65

Employees Who have worked for 7 consecutive Days

In [76]:
%%capture captured_output1

df['date'] = pd.to_datetime(df['Time'])

# Sorting df by 'Employee name' and 'date'
df = df.sort_values(by=['Employee Name', 'date'])

# Calculating the difference in consecutive dates for each employee
df['date_diff'] = df.groupby('Employee Name')['date'].diff().dt.days

# Filtering employees who have worked for 7 consecutive days
result_df = df[(df['date_diff'] == 1) & (df.groupby('Employee Name')['date_diff'].shift(-1) == 1)]


print("Employees who have worked for 7 consecutive Days")

for index, row in result_df.iterrows():
    print(f"Name: {row['Employee Name']}, Position: {row['Position ID']}")

Employees who have less than 10 hours of time between shifts but greater than 1 hour

In [77]:
%%capture captured_output2
import pandas as pd

df['time in'] = pd.to_datetime(df['Time'])
df['time out'] = pd.to_datetime(df['Time Out'])

# Sorting df by 'Employee name', 'date', and 'time in'
df = df.sort_values(by=['Employee Name', 'date', 'time in'])

# Calculating the time difference between consecutive shifts for each employee
df['shift_duration'] = (df.groupby('Employee Name')['time in'].shift(-1) - df['time out']).dt.total_seconds() / 3600

# Filtering employees who have less than 10 hours but greater than 1 hour between shifts
result_df = df[(df['shift_duration'] > 1) & (df['shift_duration'] < 10)]

print("Employees who have less than 10 hours of time and greater than 1 hour of time b/w their shifts")


for index, row in result_df.iterrows():
    print(f"Name: {row['Employee Name']}, Position: {row['Position ID']}, "
          f"Date: {row['date'].strftime('%Y-%m-%d')}, "
          f"Time In: {row['time in'].strftime('%H:%M:%S')}, "
          f"Time Out: {row['time out'].strftime('%H:%M:%S')}, "
          f"Shift Duration: {row['shift_duration']:.2f} hours")

Employees Who have worked for more than 14 hours in a single shift

In [78]:
%%capture captured_output3


# Calculating the duration of each shift for each employee
df['shift_duration'] = (df['time out'] - df['time in']).dt.total_seconds() / 3600

# Filtering employees who have worked for more than 14 hours in a single shift

result_df = df[df['shift_duration'] > 14]

print("Employees who has worked for more than 14 hours in a single shift")


for index, row in result_df.iterrows():
    print(f"Name: {row['Employee Name']}, Position: {row['Position ID']}, "
          f"Time In: {row['time in'].strftime('%H:%M:%S')}, "
          f"Time Out: {row['time out'].strftime('%H:%M:%S')}, "
          f"Shift Duration: {row['shift_duration']:.2f} hours")

In [79]:
with open('output.txt', 'w') as f:
    f.write(captured_output1.stdout)
    f.write(captured_output2.stdout)
    f.write(captured_output3.stdout)